* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrapper {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: 20px auto;
}

#color-picker h3 {
  margin: 0;
  text-align: center;
}

form {
  width: 100%;
  padding: 20px;
  position: relative;
  border: 1px solid #ccc;
  font-family: arial, sans-serif;
  color: #6c6c6c;
  background-color: #fff;
}

form::after {
  content: "";
  display: block;
  clear: both;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0 0 15px 0;
  width: 100%;
}

.colors {
  margin-top: 20px;
}

input {
  width: 100%;
  margin: 10px 0 20px 0;
  background-color: transparent;
}

.alpha-channel {
  margin-top: 20px;
}

textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

@media (min-width: 360px) {

  .colors {
    float: left;
    width: 45%;
  }

  .alpha-channel,
  textarea {
    float: right;
    width: 45%;
  }

}

textarea {
  height: 110px;
}

.color-codes {
  clear: both;
}

.color-codes span {
  white-space: nowrap;
  color: #000;
}

.red {
  color: #f00;
}

.green {
  color: #0f0;
}

.blue {
  color: #00f;
}
