* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrapper {
  width: 100%;
  margin: 20px auto;
}

form {
  width: 100%;
  border-radius: 5px;
  color: #fff;
  position: relative;
}

form::after {
  content: '';
  display: block;
  clear: both;
}

#category {
  width: 50%;
  height: 35px;
  padding-left: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: inherit;
  border: 1px solid #000;
  background-color: #337ab7;
  color: inherit;
  outline: none;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  position: absolute;
  top: 35px;
}

#category:hover {
  background-color: #438ac7;
}

#search-term {
  width: 100%;
  padding-left: 15px;
  height: 35px;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
}

#search-term:focus {
  background-color: rgba(0, 0, 0, 0.05);
  outline: none;
}

#search-term:invalid {
  box-shadow: none;
  border-top: 1px solid #d00;
  border-bottom: 1px solid #d00;
}

#submit {
  width: 50%;
  height: 35px;
  float: right;
  padding: 0 15px;
  font-size: 1.2em;
  letter-spacing: 2px;
  background-color: #5cb85c;
  color: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: inherit;
  border: 1px solid #000;
}

#submit:hover {
  cursor: pointer;
  background-color: #5cd85c;
}

#submit:active,
#submit:focus {
  outline: none;
}


@media (min-width: 600px) {

  .wrapper {
    max-width: 800px;
  }

  #category {
    width: 22%;
    float: left;
    position: static;
    border-top-left-radius: inherit;
  }

  #search-term {
    width: 60%;
    float: left;
    border: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }

  #submit {
    width: 18%;
    float: left;
    border-top-right-radius: inherit;
  }

}
