* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: 20px auto;
}

form {
  border-radius: 5px;
  min-width: 520px;
  color: #fff;
}

form::after {
  content: '';
  display: block;
  clear: both;
}

#category {
  height: 35px;
  width: 22%;
  float: left;
  padding-left: 10px;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  border: 1px solid #000;
  background-color: #337ab7;
  color: inherit;
  outline: none;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

#category:hover {
  background-color: #438ac7;
}

#search-term {
  padding-left: 15px;
  height: 35px;
  border: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 60%;
  float: left;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
}

#search-term:focus {
  background-color: rgba(0, 0, 0, 0.05);
  outline: none;
}

#submit {
  height: 35px;
  width: 18%;
  float: left;
  padding: 0 15px;
  font-size: 1.2em;
  letter-spacing: 2px;
  background-color: #5cb85c;
  color: inherit;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  border: 1px solid #000;
}

#submit:hover {
  cursor: pointer;
  background-color: #5cd85c;
}

#submit:active,
#submit:focus {
  outline: none;
}
