* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h3 {
  text-align: center;
}

.wrapper {
  position: relative;
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
  border: 1px solid #000;
}

form {
  width: 100%;
  padding: 20px 15px;
  position: relative;
  background-color: #00abab;
}

label {
  padding: 0 10px;
  display: inline-block;
  width: 100px;
}

form div {
  width: 80%;
  margin: 10px auto 20px;
}

@media (min-width: 360px) {

  form {
    padding-left: 30px;
    padding-right: 30px;
  }

  form div {
    float: left;
    width: 42%;
    margin: 10px 10px 20px 10px;
  }

}

form div:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#custom-answer {
  height: 35px;
  width: 100%;
  padding-left: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

#submit {
  display: block;
  margin: auto;
  clear: left;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 5px 20px;
  border-radius: 3px;
}

#submit:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
}

#submit:active {
  cursor: progress;
  background-color: rgba(255, 255, 255, 0.5);
}

#submit[disabled] {
  cursor: not-allowed;
}

#submit[disabled]:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
